<ul class="navbar-nav navbar-fixed-left">
    {% url 'admin_dashboard' as admin_dashboard %}
    <li class="nav-item">
      <a class="nav-link {% if request.path == admin_dashboard %} active {% endif %}" href="{{ admin_dashboard }}">
        <i class="ni ni-chart-pie-35 text-orange"></i>
        <span class="nav-link-text">Dashboard</span>
      </a>
    </li>
    {% if request.user.user_type == "1" %}
    {% url 'admin_view_administrators' as admin_view_administrators %}
    <li class="nav-item">
      <a class="nav-link {% if request.path == admin_view_administrators %} active {% endif %}"
         href="{{ admin_view_administrators }}">
        <i class="ni ni-settings-gear-65 text-red"></i>
        <span class="nav-link-text">Administrators</span>
      </a>
    </li>
    {% endif %}
    {% url 'admin_view_students' as admin_view_students %}
    <li class="nav-item">
      <a class="nav-link {% if request.path == admin_view_students %} active {% endif %}" href="{{ admin_view_students }}">
        <i class="ni ni-hat-3 text-primary"></i>
        <span class="nav-link-text">Students</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="ni ni-single-02 text-default"></i>
        <span class="nav-link-text">Tutors</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="ni ni-bullet-list-67 text-red"></i>
        <span class="nav-link-text">Schedules</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="ni ni-books text-primary"></i>
        <span class="nav-link-text">Classes</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="ni ni-paper-diploma text-info"></i>
        <span class="nav-link-text">Courses</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="ni ni-money-coins text-green"></i>
        <span class="nav-link-text">Revenue</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="ni ni-archive-2 text-red"></i>
        <span class="nav-link-text">Inquiries</span>
      </a>
    </li>
</ul>