{% extends 'Admin_Pages/base_template.html' %}
{% block title_template %}
    <title>Tutors</title>
{% endblock title_template %}
{% load static %}
{% block body_content_template %}
<!--MENU OPTIONS-->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-4 col-6 text-left">
          <a href="#ModalUpdateStatus" data-toggle="modal" class="btn btn-sm btn-neutral">Update Status</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--UPDATE STATUS-->
<div class="modal fade" tabindex="-1" role="dialog" id="ModalUpdateStatus">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Status</h5>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        <div class="modal-body">
          <form id="updateStatus" role="form">
            {% csrf_token %}
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" style="margin-bottom: 10px;">Application ID:</label>
                    <input class="form-control" type="text" name="applicationID" maxlength="20" placeholder="eg: 10" required="required">
                    <div id="applicationID"></div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" style="margin-bottom: 10px;">Status:</label>
                    <select name="status" class="form-control" required="required">
                      <option selected="selected" disabled="disabled">Select</option>
                      <option>Pending</option>
                      <option>Active</option>
                      <option>Closed</option>
                    </select>
                    <div id="status"></div>
                  </div>
                </div>
              </div>
            </div>
            <div id="success"></div>
            <div id="failed"></div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
<!--TABLE-->
{% for stat in statusList %}
<div class="container-fluid mt--6">
  <!-- Dark table -->
  <div class="row" style="margin-bottom: 100px">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Application {{ stat }}</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Application ID</th>
                <th scope="col">Course ID</th>
                <th scope="col">Course Name</th>
                <th scope="col">Tutor ID</th>
                <th scope="col">Tutor Name</th>
                <th scope="col">Admin ID</th>
                <th scope="col">Admin Name</th>
                <th scope="col">Status</th>
                <th scope="col">Created at</th>
                <th scope="col">Updated at</th>
              </tr>
            </thead>
            <tbody class="list">
            {% for cert in certRequest %}
              {% ifequal stat cert.status %}
                <tr>
                  <th scope="row">
                      <span class="name mb-0 text-sm">{{ cert.id }}</span>
                  </th>
                  <th scope="row">
                      <span class="name mb-0 text-sm">{{ cert.course_id }}</span>
                  </th>
                  <th scope="row">
                    {% for cour in course %}
                      {% ifequal cert.course_id cour.id %}
                      <span class="name mb-0 text-sm">{{ cour.name }}</span>
                      {% endifequal %}
                    {% endfor %}
                  </th>
                  <th scope="row">
                      <span class="name mb-0 text-sm">{{ cert.tutor_id }}</span>
                  </th>
                  <th scope="row">
                    {% for tut in tutor %}
                      {% ifequal cert.tutor_id tut.id %}
                        {% for sup in superUser %}
                          {% ifequal tut.super_id sup.id %}
                          <span class="name mb-0 text-sm">{{ sup.first_name }} {{ sup.last_name }}</span>
                          {% endifequal %}
                        {% endfor %}
                      {% endifequal %}
                    {% endfor %}
                  </th>
                  <th scope="row">
                      <span class="name mb-0 text-sm">{{ cert.admin_id }}</span>
                  </th>
                  <th scope="row">
                    {% for ad in admin %}
                      {% ifequal cert.admin_id  ad.id %}
                        {% for sup in superUser %}
                          {% ifequal ad.super_id sup.id %}
                          <span class="name mb-0 text-sm">{{ sup.first_name }} {{ sup.last_name }}</span>
                          {% endifequal %}
                        {% endfor %}
                      {% endifequal %}
                    {% endfor %}
                  </th>
                  <th scope="row">
                      <span class="name mb-0 text-sm">{{ cert.status }}</span>
                  </th>
                  <th scope="row">
                      <span class="name mb-0 text-sm">{{ cert.created_at }}</span>
                  </th>
                  <th scope="row">
                      <span class="name mb-0 text-sm">{{ cert.updated_at }}</span>
                  </th>
                </tr>
              {% endifequal %}
            {% endfor %}
            </tbody>
          </table>
          <nav aria-label="Page navigation">
            {% if certRequest.has_other_pages %}
              <ul class="pagination justify-content-end">
                {% if certRequest.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ certRequest.previous_page_number }}" tabindex="-1">
                      <i class="fa fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" tabindex="-1">
                      <i class="fa fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                {% endif %}
                {% for i in certRequest.paginator.page_range %}
                  {% if certRequest.number == i %}
                    <li class="page-item active"><a class="page-link">{{ i }}<a class="sr-only">(current)</a></a></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if certRequest.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ certRequest.next_page_number }}">
                    <i class="fa fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" tabindex="-1">
                    <i class="fa fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            {% endif %}
          </nav>
        </div>
        <div class="form-group">
          {% if messages %}
          <div>
              {% for message in messages %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger" style="margin-top: 10px">{{ message }}</div>
              {% endif %}
              {% if message.tags == 'success' %}
              <div class="alert alert-success" style="margin-top: 10px">{{ message }}</div>
              {% endif %}
              {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock body_content_template %}
{% block custom_js %}
<script>
$(document).ready(function()
  {
    $("#updateStatus").on("submit", function(event)
    {
      event.preventDefault()
      var updateStatusForm = $("#updateStatus")
      console.log("calling ajax")

      $.ajax
      ({
        type: "POST",
        url: "{% url 'admin_tutor_certify_request_save' %}",
        data: updateStatusForm.serialize(),

        success: function(response)
        {
          console.log(response)

          //APPLICATION ID
          if(response == "applicationID")
          {
            $("#applicationID").html
            (
              '<p style="color:red"><b>Error! Application ID does not exist</b></p>'
            )
          }
          else
          {
            $("#applicationID").html
            (
              '<p></p>'
            )
          }

          //STATUS UPDATED
          if(response == "success")
          {
            $("#success").html
            (
              '<div class="alert alert-success" style="margin-top: 10px">Updated</div>'
            )
          }
          else
          {
            $("#success").html
            (
              '<div></div>'
            )
          }

          //FAILED
          if(response == "failed")
          {
            $("#failed").html
            (
              '<div class="alert alert-danger" style="margin-top: 10px">Failed! To updated</div>'
            )
          }
          else
          {
            $("#failed").html
            (
              '<div></div>'
            )
          }
        },
        error: function(response)
        {
          console.log(response)
        }
      })
    })
  })
</script>
{% endblock custom_js %}