<ul class="navbar-nav navbar-fixed-left">
    {% url 'tutor_dashboard' as tutor_dashboard %}
    <li class="nav-item">
      <a class="nav-link {% if request.path == tutor_dashboard %} active {% endif %}" href="{{ tutor_dashboard }}">
        <i class="ni ni-chart-pie-35 text-orange"></i>
        <span class="nav-link-text">Dashboard</span>
      </a>
    </li>
    {% url 'tutor_view_students' as tutor_view_students %}
    <li class="nav-item">
      <a class="nav-link {% if request.path == tutor_view_students %} active {% endif %}" href="{{ tutor_view_students }}">
        <i class="ni ni-hat-3 text-primary"></i>
        <span class="nav-link-text">Students</span>
      </a>
    </li>
    {% url 'tutor_view_schedules' as tutor_view_schedules %}
    <li class="nav-item">
      <a class="nav-link {% if request.path == tutor_view_schedules %} active {% endif %}" href="{{ tutor_view_schedules }}">
        <i class="ni ni-bullet-list-67 text-red"></i>
        <span class="nav-link-text">Schedules</span>
      </a>
    </li>
    {% url 'tutor_view_classes' as tutor_view_classes %}
    {% url 'tutor_edit_schedule' schID=id as tutor_edit_schedule %}
    <li class="nav-item">
      <a class="nav-link {% if request.path == tutor_view_classes %} active {% endif %}
        {% if request.path == tutor_edit_schedule %} active {% endif %}" href="{{ tutor_view_classes }}">
        <i class="ni ni-books text-primary"></i>
        <span class="nav-link-text">Classes</span>
      </a>
    </li>
</ul>