{% extends 'Tutor_Pages/base_template.html' %}
{% block title_template %}
    <title>Classes</title>
{% endblock title_template %}
{% block body_content_template %}
<!--HEAD-->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-4 col-6 text-left">
          <a href="#ModalTakeAttendance" data-toggle="modal" class="btn btn-sm btn-neutral">Mark Attendance</a>
          <a href="#ModalMarkedAttendance" data-toggle="modal" class="btn btn-sm btn-neutral">View Marked Attendance</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--ADD TAKE ATTENDANCE MODAL-->
<div class="modal fade" tabindex="-1" role="dialog" id="ModalTakeAttendance">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Attendance Form</h5>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        <div class="modal-body">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" style="margin-bottom: 10px;">Class ID:</label>
                    <select name="enrollID" class="form-control" required="required" id="enrollID">
                      <option selected="selected" disabled="disabled">Select</option>
                      {% for enroll in enrollments %}
                        <option value="{{ enroll.id }}">{{ enroll.id }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" style="margin-bottom: 10px;">Start Time:</label>
                    <input type="time" name="startTime" class="form-control" required="required" id="startTime">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" style="margin-bottom: 10px;">Duration:</label>
                    <select name="duration" class="form-control" required="required" id="duration">
                      <option selected="selected" disabled="disabled">Select</option>
                      <option>30 mins</option>
                      <option>45 mins</option>
                      <option>1 hr</option>
                      <option>1 hr 30 mins</option>
                      <option>1 hr 45 mins</option>
                      <option>2 hrs</option>
                      <option>2 hrs 30 mins</option>
                      <option>2hrs 45 mins</option>
                      <option>3 hrs</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary" id="showStudents">Show Students</button>
            </div>
            <div class="pl-lg-4">
              <div class="row" id="showingStudents"></div>
            </div>
        </div>
    </div>
  </div>
</div>
<!--MARKED ATTENDANCE MODAL-->
<div class="modal fade" tabindex="-1" role="dialog" id="ModalMarkedAttendance">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Marked Attendance Form</h5>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        <div class="modal-body">
          <form role="form" id="markedAttendance">
            {% csrf_token %}
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" style="margin-bottom: 10px;">Class ID:</label>
                    <select name="enrollID" class="form-control" required="required">
                      <option selected="selected" disabled="disabled">Select</option>
                      {% for enroll in enrollments %}
                        <option value="{{ enroll.id }}">{{ enroll.id }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Enter</button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
<!--TABLE-->
<div class="container-fluid mt--6">
  <!-- Dark table -->
  <div class="row">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Classes</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Class ID</th>
                <th scope="col">Student ID</th>
                <th scope="col">Student Name</th>
                <th scope="col">Course ID</th>
                <th scope="col">Course Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Days and Time</th>
                <th scope="col">Status</th>
                <th scope="col">Class Room Link</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="list">
            {% for enroll in enrollments %}
              <tr>
                <th scope="row">
                  <span class="name mb-0 text-sm">{{ enroll.id }}</span>
                </th>
                <th scope="row">
                  {% for enrollStuds in enrollmentStuds %}
                    {% ifequal enroll.id enrollStuds.enrollment_id %}
                      <span class="name mb-0 text-sm">{{ enrollStuds.student_id }}<br></span>
                    {% endifequal %}
                  {% endfor %}
                </th>
                <th scope="row">
                  {% for enrollStuds in enrollmentStuds %}
                    {% ifequal enroll.id enrollStuds.enrollment_id %}
                      {% for stud in student %}
                        {% ifequal enrollStuds.student_id stud.id %}
                          {% for sup in superUser %}
                            {% ifequal stud.super_id sup.id  %}
                              <span class="name mb-0 text-sm">{{ sup.first_name }} {{ sup.last_name }}<br></span>
                            {% endifequal %}
                          {% endfor %}
                        {% endifequal %}
                      {% endfor %}
                    {% endifequal %}
                  {% endfor %}
                </th>
                <th scope="row">
                  <span class="name mb-0 text-sm">{{ enroll.course_id }}</span>
                </th>
                <th scope="row">
                  {% for cour in course %}
                    {% ifequal enroll.course_id cour.id %}
                      <span class="name mb-0 text-sm">{{ cour.name }}</span>
                    {% endifequal %}
                  {% endfor %}
                </th>
                <th scope="row">
                  <span class="name mb-0 text-sm">{{ enroll.start_date }}</span>
                </th>
                <th scope="row">
                  <span class="name mb-0 text-sm">{{ enroll.end_date }}</span>
                </th>
                <th scope="row">
                  {% for days in enrollmentDays %}
                    {% ifequal enroll.id days.enrollment_id %}
                      {% for time in enrollmentTime %}
                        {% ifequal days.enrollment_id time.enrollment_id %}
                          <span class="name mb-0 text-sm">
                            {% if days.monday == "Yes" %}
                              Monday: {{ time.monday|slice:"0:5" }}<br>
                            {% endif %}
                            {% if days.tuesday == "Yes" %}
                              Tuesday: {{ time.tuesday|slice:"0:5" }}<br>
                            {% endif %}
                            {% if days.wednesday == "Yes" %}
                              Wednesday: {{ time.wednesday|slice:"0:5" }}<br>
                            {% endif %}
                            {% if days.thursday == "Yes" %}
                              Thursday: {{ time.thursday|slice:"0:5" }}<br>
                            {% endif %}
                            {% if days.friday == "Yes" %}
                              Friday: {{ time.friday|slice:"0:5" }}<br>
                            {% endif %}
                            {% if days.saturday == "Yes" %}
                              Saturday: {{ time.saturday|slice:"0:5" }}<br>
                            {% endif %}
                            {% if days.sunday == "Yes" %}
                              Sunday: {{ time.sunday|slice:"0:5" }}<br>
                            {% endif %}
                          </span>
                        {% endifequal %}
                      {% endfor %}
                    {% endifequal %}
                  {% endfor %}
                </th>
                <th scope="row">
                  <span class="name mb-0 text-sm">{{ enroll.status }}</span>
                </th>
                <th scope="row">
                  {% if enroll.link == None or enroll.link == "" %}
                    <span class="name mb-0 text-sm">Not available</span>
                  {% else %}
                    <span class="name mb-0 text-sm">Available</span>
                  {% endif %}
                </th>
                <td class="text-right">
                  <div class="dropdown">
                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                      {% if enroll.link == None or enroll.link == "" %}
                        <a class="dropdown-item" href="#">Open Class Room</a>
                      {% else %}
                        <a class="dropdown-item" href="{{ enroll.link }}">Open Class Room</a>
                      {% endif %}
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <nav aria-label="Page navigation">
            {% if enrollments.has_other_pages %}
              <ul class="pagination justify-content-end">
                {% if enrollments.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ enrollments.previous_page_number }}" tabindex="-1">
                      <i class="fa fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" tabindex="-1">
                      <i class="fa fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                {% endif %}
                {% for i in enrollments.paginator.page_range %}
                  {% if enrollments.number == i %}
                    <li class="page-item active"><a class="page-link">{{ i }}<a class="sr-only">(current)</a></a></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if enrollments.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ enrollments.next_page_number }}">
                    <i class="fa fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" tabindex="-1">
                    <i class="fa fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            {% endif %}
          </nav>
        </div>
        <div class="form-group">
          {% if messages %}
          <div>
              {% for message in messages %}
              {% if message.tags == 'error' %}
              <div class="alert alert-danger" style="margin-top: 10px">{{ message }}</div>
              {% endif %}
              {% if message.tags == 'success' %}
              <div class="alert alert-success" style="margin-top: 10px">{{ message }}</div>
              {% endif %}
              {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body_content_template %}
{% block custom_js %}
<script>
  $(document).ready(function()
  {
    $("#showStudents").click(function()
    {
      var enrollID = $("#enrollID").val()
      var startTime = $("#startTime").val()
      var duration = $("#duration").val()

      $.ajax
      ({
        type: "POST",
        url: "{% url 'tutor_get_students_for_attendance' %}",
        data:{enrollID:enrollID, startTime:startTime, duration:duration}
      })
      .done(function(response)
      {
        var studentJsonData = JSON.parse(response)
        console.log(studentJsonData)
        var showingStudentsHTMLData=""
        showingStudentsHTMLData+="<div class='col-lg-6'>"
        showingStudentsHTMLData+="<div class='form-group'>"

        if (response!=null)
        {
          showingStudentsHTMLData+="<h2>Students:</h2>"
          showingStudentsHTMLData+="<h5 style='margin-bottom: 30px'>Select the student(s) to mark them present:</h5>"
        }

        for (key in studentJsonData)
        {
          showingStudentsHTMLData+="<div class='form-check' style='bottom: 10px'><input type='checkbox' name='studentDataArr[]' class='form-check-input' value='"+studentJsonData[key]['id']+"'><h4>"+studentJsonData[key]['name']+"</h4></div>"
        }

        showingStudentsHTMLData+="<div class='form-group'>"
        showingStudentsHTMLData+="<button type='button' class='btn btn-primary' id='saveAttendance'>Mark Attendance</button>"
        showingStudentsHTMLData+="</div>"
        showingStudentsHTMLData+="</div>"
        showingStudentsHTMLData+="</div>"
        $("#showingStudents").html(showingStudentsHTMLData);
      })
      .fail(function()
      {
        alert("ERROR! Cannot get student")
      })

      $(document).on("click","#saveAttendance", function()
      {
        console.log("Saving attendance data")
        var finalAttendanceData=$("input[name='studentDataArr[]']").map(function()
        {
          if($(this).is(":checked"))
          {
            return {"id":$(this).val(), "status":"Present"}
          }
          else
          {
            return {"id":$(this).val(), "status":"Absent"}
          }
        }).get()
        finalAttendanceData = JSON.stringify(finalAttendanceData)

        $.ajax
        ({
          url:'{% url 'tutor_attendance_save' %}',
          type:'POST',
          data:{studentIDs:finalAttendanceData}
        })
        .done(function(response)
        {
          if(response=="ok")
          {
              location.href="{% url 'tutor_view_classes' %}"
          }
        })
        .fail(function()
        {
          alert("Error! Marking attendance")
        })
      })
    })
    $("#markedAttendance").on("submit", function(event)
    {
      event.preventDefault()
      var markedAttendanceForm = $("#markedAttendance")
      console.log("calling ajax")

      $.ajax
      ({
        type: "POST",
        url: "{% url 'tutor_view_recorded_attendance' %}",
        data: markedAttendanceForm.serialize(),

        success: function(response)
        {
          console.log(response.url)
          location.href = response.url
        },
        error: function(response)
        {
          console.log(response)
        }
      })
    })
  })
</script>
{% endblock custom_js %}
