{% extends 'registration/base.html' %}
{% block content %}
<form method="POST">
{% csrf_token %}
    <span class="login100-form-title">
        Forgot Password
    </span>
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
                <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control">
            {{ field.errors }}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}